body {
    position:absolute;
    z-index:1;
    padding-left: 0;
    padding-right: 0;
    margin-top:auto;
    margin-right: auto;
    margin-bottom:auto;
    margin-left: auto;
    
    
    width:100%;
    height:100%;
    display: block;
    background-size: cover;
    background-color:#faf4ff;
}
/* 
    Simulation Control
 */
#ButtonContainer {
	position:absolute;
    opacity:0.75;
    left:75%;
    height:10%;
    width:20%;
    padding:5px 5px 5px 5px;
}
#reset {
	position:relative;
    disabled:true;
	opacity:0.0;
    padding: 5px 5px 5px 5px;
}
#begin {
	position:relative;
    disabled:true;
	opacity:0.0;
    padding: 5px 5px 5px 5px;
}
#stop {
	position:relative;
    disabled:true;
	opacity:0.0;
    padding: 5px 5px 5px 5px;
}
#menu {
    position:relative;
    opacity:0.0;
    padding: 5px 5px 5px 5px;
}
#closemenu {
    position:relative;
    opacity:0.0;
    padding: 5px 5px 5px 5px;
}
#acceptmenu {
    position:relative;
    opacity:0.0;
    padding: 5px 5px 5px 5px;
}

/* 
    The Screen Buttons
 */
#FrontPageButtons{
    position:absolute;
    z-index:10;
    width:15%;
}
#StartButton {
	position:relative;
	left:0%;
    padding:5px 5px 5px 5px;
	opacity:0.75;
}
#HelpButton {
    position:relative;
    left:0%;
    opacity:0.75;
    padding:5px 5px 5px 5px;
    transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -webkit-transition: opacity 0.5s;
}
#HelpButton:active{
    opacity:0.75;
    padding:5px 5px 5px 5px;
    transition: opacity 0s;
   -moz-transition: opacity 0s;
   -webkit-transition: opacity 0s;
}
#CloseButton:active{
    opacity:0.0;
    padding:5px 5px 5px 5px;
    transition: opacity 0s;
   -moz-transition: opacity 0s;
   -webkit-transition: opacity 0s;
   transition: left 0.5s;
   -moz-transition: left 0.5s;
   -webkit-transition: left 0.5s;
}
#CloseButton{
    opacity:0.0;
    position:relative;
    padding:5px 5px 5px 5px;
    left:10%;
    transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -webkit-transition: opacity 0.5s;
   transition: left .5s;
   -moz-transition: left 0.5s;
   -webkit-transition: left 0.5s;
}
#HelpMenuSlideLeft{
    opacity:0;
    width:100%;
    height:100%;
    position:relative;
    transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -webkit-transition: opacity 0.5s;
    
}
#HelpMenuSlideLeft:active{
    opacity:0;
    transition: opacity 0s;
   -moz-transition: opacity 0s;
   -webkit-transition: opacity 0s;
    
}
#HelpMenuSlideRight{
    opacity:0;
    width:100%;
    height:100%;
    position:relative;
    transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -webkit-transition: opacity 0.5s;
    
}
#HelpMenuSlideRight:active{
    opacity:0;
    transition: opacity 0s;
   -moz-transition: opacity 0s;
   -webkit-transition: opacity 0s;
    
}
#TextContainer {
    background-color:#85dbe4;
    position:relative;
    opacity:1;
    top:100%;
    border-radius: 10px;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
    border:2px solid #1b767e;
    padding:10px 10px 10px 10px;
    font-family: Gill Sans / Gill Sans MT, sans-serif;
    font-size: 30px;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-shadow: 
      -1px -1px 0 #767676, 

      -1px -1px -1px #767474, 

      0 2px 2px rgba(0, 0, 0, 0.1);
}

/* 
    Object Menu
 */
#ObjectMenuSlideDown {
    opacity:0;
    width:50%;
    heigh:10%;
    left:25%;
    position:absolute;
    background-color:#f5ffd7;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border:2px solid #1b767e;
    z-index:200;
}
#ObjectMenuSlideDown:active {
    transition: opacity 0.0s;
   -moz-transition: opacity 0.0s;
   -webkit-transition: opacity 0.0s;
}
#InputMenu {
	position:relative;
	opacity:0.75;
    padding:5px 5px 5px 5px;
    transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -webkit-transition: opacity 0.5s;
}
#InputMenuText {
	position:relative;
	opacity:0;
	border: none;
    background-color: transparent;
	padding:5px 5px 5px 5px;
    transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -webkit-transition: opacity 0.5s;
}
#xVal {
	position:relative;
    padding:5px 70px 5px 70px;
}
#yVal {
	position:relative;
    padding:5px 70px 5px 70px;
}
#rad {
	position:relative;
    padding:5px 70px 5px 70px;
}

/* Button Class */
.Button {
	-moz-box-shadow:inset 1px 2px 5px -4px #ffffff;
	-webkit-box-shadow:inset 1px 2px 5px -4px #ffffff;
	box-shadow:inset 1px 2px 5px -4px #ffffff;
	background-color:transparent;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:7px 26px;
	text-decoration:none;
	text-shadow:-1px -1px 5px #ffffff;
}
.Button:disabled {
  pointer-events: none !important;
  cursor: none !important;
}
.Button:hover {
	background-color:#d7fcff;
}
.Button:active {
	position:absolute;
	top:1px;
    transition: opacity 0s;
    -moz-transition: opacity 0s
    -webkit-transition: opacity 0s;
}


/* Front Page Animations */
#FrontPageAnimations{
    position: fixed;
    height:10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Planet Animation */
#Planets {
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: visible;
    top:-160%;
    left:-40%;
}

#Planets::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    border: none;
    box-sizing: border-box;
}
em {
    bottom:0%;
    left:0%;   
    font-size: 15vmin;
    position: relative;
    font-style: normal;
    width: 10vmin;
    text-align: center;
}

em.planet {
  
  position: relative;
}

em.planet::before {
  content: "";
  position: absolute;
  top: -.5vmin;
  left: 3.5vmin;  
  border-radius: 50%;
  background: black;
}
em.planet.left::before {
    width: 3vmin;
    height: 3vmin;
    background-color:#0066ff;
}
em.planet.left {
    -webkit-animation: planet-rotate 3.5s linear infinite;
    animation: planet-rotate 3.5s linear infinite;
    -webkit-transform-origin: 20vmin 10vmin;
    transform-origin: 20vmin 10vmin;
}
em.planet.one::before {
    width: 2vmin;
    height: 2vmin;
    background-color:#ff6666;
}
em.planet.one{
    left:50%;
    -webkit-animation: planet-rotate 4.5s linear infinite;
    animation: planet-rotate 4.5s linear infinite;
    -webkit-transform-origin: 27vmin 7vmin;
    transform-origin: 27vmin 7vmin;
}
em.planet.two::before {
    left:0%;
    top:0%;
    width: 1vmin;
    height: 1vmin;
    background-color:#9999ff;
}
em.planet.two{
    -webkit-animation: planet-rotate 6.5s linear infinite;
    animation: planet-rotate 6.5s linear infinite;
    -webkit-transform-origin: 30vmin 0vmin;
    transform-origin: 30vmin 0vmin;
}
em.planet.three::before {
    left:186%;
    top:-380%;
    width: 1vmin;
    height: 1vmin;
    background-color:#ff80b3;
}
em.planet.three{
    -webkit-animation: planet-rotate 10s linear infinite;
    animation: planet-rotate 10s linear infinite;
    -webkit-transform-origin: 50vmin 0vmin;
    transform-origin: 50vmin 0vmin;
}
em.planet.right::before {
    background-color: #ffff00;
    width: 7vmin;
    height: 7vmin;
}
em.planet.right {
    color: #ffff00;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

/* Logo Animation */
p{
    position:relative;
}
#Logo{
    position:relative;
    color: #333333;
    left:0%;
    font-family: Gill Sans / Gill Sans MT, sans-serif;
    opacity:1;
    font-size: 80px;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-shadow: 
      1px -1px 0 #767676, 

      -2px 4px 1px #767474, 

      0 20px 20px rgba(0, 0, 0, 0.1);
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.2s; /* Firefox < 16 */
        -ms-animation: fadein 1.2s; /* Internet Explorer */
         -o-animation: fadein 1.2s; /* Opera < 12.1 */
            animation: fadein 1.2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.75; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.75; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.75; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.75; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.75; }
}

